{% extends 'my_calculator_base/base_with_navbar.html' %}

{% block content %}
<div class="container site-content px-lg-5">
    <div class="content-area">
        <div class="calculator">{% csrf_token %}
            <div class="my-3">
                <h2>넓이 면적 변환기</h2>
            </div>
            <div class="one-content-area">
                <div class="mb-3">
                    <p>제곱미터(m²) · 평(坪) · 스퀘어피트(ft²) 선택</p>
                    <select class ="myselect" id="befor_type">
                        <option value="square_meter">제곱미터(m²)</option>
                        <option value="pyeong">평(坪)</option>
                        <option value="square_feet">스퀘어피트(ft²)</option>
                    </select>
                    <i class="bi bi-arrow-right m-2"></i>
                    <select class ="myselect" id="after_type">
                        <option value="square_meter">제곱미터(m²)</option>
                        <option value="pyeong">평(坪)</option>
                        <option value="square_feet">스퀘어피트(ft²)</option>
                    </select>
                </div>
                <div class="my-3">
                    <p class="mb-1">변환할 값 입력</p>
                    <input class="myinput" type="text" id="befor_num">
                </div>
                <div class="my-3">
                    <input class="btn btn-primary" type="submit" value="계산하기" id="getResult">
                </div>
                <div class="mt-3">
                    <p>변환된 값 출력</p>
                    <span>답 : </span><b><span id="after_num"></span></b>
                </div>
                <script>
                    $('#getResult').click( function() {
                        $.ajax({
                            url:'{% url 'area' %}',
                            dataType:'json',
                            type:'POST',
                            data:{
                                'befor_type':$('#befor_type').val(),
                                'befor_num':$('#befor_num').val(),
                                'after_type':$('#after_type').val(),
                            },
                            success:function(result){
                                $('#after_num').text(result['after_num']);
                                console.log(result['after_num'])
                            },
                            error:function(result){
                                alert("입력값을 다시 확인해 주세요.");
                            },
                        });
                    })
                </script>
            </div>
        </div>
        <div>
            <h3 class="my-4"><b>넓이 면적 변환기 사용방법</b></h3>
            <p><b>넓이 면적 변환기는 소수 세 번째 자리에서 반올림을 합니다.</b></p>
            <p><b>변환에 소수 계산과 반올림이 포함되기 때문에 오차가 발생할 수 있습니다.</b></p>
            <p>제곱미터(m²) · 평(坪) · 스퀘어피트(ft²)을 상호변환할 수 있습니다. 첫 번째 드롭다운 목록에서 변환 전 넓이의 종류를 선택합니다. 두 번째 드롭다운 목록에서 변환 후 넓이의 종류를 선택합니다. 계산하기 버튼을 누르면 선택한 넓이의 종류 변환합니다.</p>
            <h3 class="my-4">평(坪)에 대한 설명</h3>
            <p>1평(坪)은 3.3058(m²)로 계산합니다. 한국에서는 2007년 7월부터 '계량에 관한 법률 2조 제1항'에 따라 '평(坪)' 단위를 공식적으로 사용하지 않게 되었지만 아직까지도 아파트 평수, 건물 평수 등 다양한 곳에서 평이라는 단위가 사용되고 있습니다.</p>
            <p>현재 한국에서는 제곱미터 단위를 사용하도록 되어 있지만 아직까지 아파트 광고에서 버젓이 평수를 사용하는 것을 볼 수 있습니다. 그래서 평수를 제곱미터로 변환해야하는 불편함이 있습니다.
            <h3 class="my-4">스퀘어피트(ft²)에 대한 설명</h3>
            <p>한국에서 집의 넓이를 측정할 때 평을 사용하는 것처럼 미국, 영국 등에서 집의 면적을 측정할 때 스퀘어피트(제곱피트 ,ft²)를 사용합니다.</p>
            <h3 class="my-4">넓이 면적 변환하는 방법</h3>
            <h4>제곱미터(m²)와 평(坪)의 변환 방법</h4>
            <p>제곱미터를 평수로 변환하려면 제곱미터를 3.3058로 나눠주면 됩니다.</p>
            <p class="content-box">105.79(m²) ÷ 3.3085 = 32(평)<br>59.5(m²) ÷ 3.3085 = 18(평)</p>
            <p>평수를 제곱미터로 변환하려면 평수에 3.3058를 곱해주면 됩니다.</p>
            <p class="content-box">32(평) × 3.3085 = 105.79(m²)<br>18(평) × 3.3085 = 59.5(m²)</p>
            <br>
            <h4>제곱미터(m²)와 스퀘어피트(ft²)의 변환 방법</h4>
            <p>제곱미터를 스퀘어피트로 변환하려면 제곱미터에 10.764를 곱해주면 됩니다.</p>
            <p class="content-box">100(m²) × 10.764 = 1076.4(ft²)<br>32(m²) × 10.764 = 344.45(ft²)</p>
            <p>스퀘어피트를 제곱미터로 변환하려면 스퀘어피트를 10.764로 나눠주면 됩니다.</p>
            <p class="content-box">1076.4(ft²) ÷ 10.764 = 100(m²)<br>344.45(ft²) ÷ 10.764 = 32(m²)</p>
            <br>
            <h4>평(坪)과 스퀘어피트(ft²)의 변환 방법</h4>
            <p>평을 스퀘어피트로 변환하려면 평에 35.5832를 곱해주면 됩니다.</p>
            <p class="content-box">32(평) × 35.5832 = 1138.68(ft²)<br>18(평) × 35.5832 = 640.51(ft²)</p>
            <p>스퀘어피트를 평으로 변환하려면 스퀘어피트를 35.5832로 나눠주면 됩니다.</p>
            <p class="content-box">1138.68(ft²) ÷ 35.5832 = 32(평)<br>640.51(ft²) ÷ 35.5832 = 18(평)</p>
        </div>
    </div>
    {% include "components/widget.html"%}
</div>
{% endblock content %}


