<div class="widget-area">
    <div class="content-box">
        <h4 class="py-3">새로 추가된 계산기</h4>
        <p><a class="widget-a" href="{% url 'notation' %}"><i class="bi bi-calculator-fill"></i> 진수 계산기</a></p>
        <p><a class="widget-a" href="{% url 'percent' %}"><i class="bi bi-calculator-fill"></i> 퍼센트 계산기</a></p>
        <p><a class="widget-a" href="{% url 'temperature' %}"><i class="bi bi-calculator-fill"></i> 섭씨 화시 온도 변환기</a></p>
        <p><a class="widget-a" href="{% url 'area' %}"><i class="bi bi-calculator-fill"></i> 넓이 면적 변환기</a></p>
        <p><a class="widget-a" href="{% url 'mass' %}"><i class="bi bi-calculator-fill"></i> 질량 무게 변환기</a></p>
    </div>
</div>